<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script type="text/javascript" src="../public/js/scripts.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <!--Inserting Form for capturing customer details-->
                <form>
                    <div class="row">
                        <div class="col-50">
                            <h3>BILLING ADDRESS</h3>
                            <label for="fname"><i class="fa fa-user"></i> FIRST NAME</label>
                            <input type="text" id="fname" name="firstname" placeholder="Sharon">
                            <label for="sname"><i class="fa fa-user"></i> SECOND NAME</label>
                            <input type="text" id="sname" name="firstname" placeholder="Apot">
                            <label for="email"><i class="fa fa-envelope"></i> EMAIL</label>
                            <input type="text" id="email" name="email" placeholder="sharon@example.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> POSTAL ADDRESS</label>
                            <input type="text" id="adr" name="address" placeholder="54321">
                            <label for="city"><i class="fa fa-institution"></i> CITY</label>
                            <input type="text" id="city" name="city" placeholder="Nairobi">
              
                            <div class="row">
                                <div class="col-50">
                                    <label for="state">COUNTRY</label>
                                    <input type="text" id="state" name="state" placeholder="Kenya">
                                </div>

                                <div class="col-50">
                                    <label for="zip">ZIP</label>
                                    <input type="text" id="zip" name="zip" placeholder="00200">
                                </div>
                            </div>
                        </div>
              
                        <div class="col-50">
                            <h3>PAYMENT</h3>
                            <label for="fname">ACCEPTED PAYMENTS</label>
                            <div class="icon-container">
                                <img src="../public/images/mastercard.png" alt="MasterCard" style="width: 40px; padding-right: 6px;">
                                <img src="../public/images/mpesa.png" alt="M-Pesa" style="width: 40px; padding-right: 6px;">
                                <img src="../public/images/paypal.png" alt="Paypal" style="width: 40px; padding-right: 6px;">
                                <img src="../public/images/visa.png" alt="VisaCard" style="width: 40px; padding-right: 6px;">
                            </div>
                            <label for="cname">NAME ON CARD</label>
                            <input type="text" id="cname" name="cardname" placeholder="Sharon A. Apot">
                            <label for="ccnum">CREDIT CARD NUMBER</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">EXP MONTH</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September">
              
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">EXP YEAR</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="2025">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>
              
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> SHIPPING ADDRESS SAME AS BILLING ADDRESS
                    </label>
                    <input type="submit" value="Continue to checkout" class="btn" onclick="custDetails()">                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>