body{
  background-image: url("../images/background/5.jpg");
  background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	transition: background .2s;
}
.header-content{
 background-color: rgb(0, 0, 0, 0.2);
}

.logo{
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: 'Festive', cursive;
  font-size: 50px;
}

.nav-item{
 text-transform: uppercase;
 font-size: 13px;
}

.nav-link{
  color: white;
}

.bg-modal{
  background-color:  rgb(0, 0, 0, 0.7)
}

h5 span{
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
}

.hidden{
  visibility: hidden;
}
/* --------- forms -----------*/
.btn-sign{
  border: 1px solid  rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  /* padding: 5px; */
  background-color:  rgb(255, 255, 255, 0.2);
}

.errborder{
  border: 1px solid red;
}

#fupdate, #lupdate, #eupdate, .pass1, .pass2, #passmatch, .pwd-error, #login-notice{
  color: red;
  font-size: 15px;
}

.pwd-success{
  color: greenyellow;
}

/* ---------- slider -----------*/

.img-fluid{
  height: 500px;
}

/*----------- featured ---------*/

.product-card{
  background-color:  rgb(0, 0, 0, 0.2);
}

.product-compare, .product-catergory, .product-name{
  text-decoration: none;
  color: white;
}

.hover :hover{
  color: rgb(146, 145, 145);
}

/* ----------- footer ------------*/

.pay-icon{
  height: 35px;
  border: 1px solid  rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  background-color:  rgb(255, 255, 255, 0.2);
}

.bg-footer{
  background-color:  rgb(0, 0, 0, 0.2);
}